page-contact {
    //ion-content{
        //background: #904779 !important;
    //}

    .bg{
        background: linear-gradient(to bottom, #000000 0%, #fff 100%);
    }
    .address{
        
        background: #eeff00 !important;
        text-align: center;
        color: #000000;
    }

}
