page-home {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }

        .homepage-button{
          text-align: center;
          align-content: center;  
        }
        .text-center{
            text-align: center;
            
          }
        .setting{
          float: left;
        
        }
      }
    }